<div class="fullbleedCta">
    <div class="fullbleedCta__content">
        <div class="fullbleedCta__content__image--wrapper">
            <%= image_tag lorem.image('75x75') %>
        </div>
        <div class="fullbleedCta__content__copy">
            <h2 class="fullbleedCta__content__headline"><%= lorem.words 2 %></h2>
            <p class="fullbleedCta__content__subhead"><%= lorem.sentence %></p>
        </div>
        <div class="fullbleedCta__content__link--wrapper">
            <a href="#" class="fullbleedCta__content__link"><%= lorem.words 3 %></a>
        </div>
    </div>
    <div class="fullbleedCta__image" style="background-image: url('http://placehold.it/1480x830');"></div>
</div>