<div class="customer--review--rating">
	<i class="customer--review--heart icon__heart--active"></i>
	<i class="customer--review--heart icon__heart--active"></i>
	<i class="customer--review--heart icon__heart--active"></i>
	<i class="customer--review--heart icon__heart--active"></i>
	<i class="customer--review--heart icon__heart"></i>
</div>