<div class="product__rec__carousel flexslider" data-controller="productRecCarousel">
    <ul class="product__rec--items slides">
    <% 8.times do |num| %>
        <%= partial "modules/_product_rec_item.html" %>
    <% end %>
    </ul>
</div>