<div class="productdetail__description">
    <h2 class="productdetail__description__headline">Description</h2>
    <p class="productdetail__description__body"><%= lorem.paragraph %></p>
    <div class="productdetail__description__countbox">
        <h3>Pouch Count</h3>
        <p class="productdetail__description__count">Aprox. 17</p>
    </div>
</div>