<!-- background image declared inline so Magento can edit it -->
<section class="recipeDetail__hero">
<div class="grid-construct">
		<figcaption class="heroFullBleed__caption">
			<h1 class="heroFullBleed__caption--header">Chocolate Lava Cake</h1>
			<h5 class="heroFullBleed__caption--tagline">"Like having a taste of heaven! Oh-so-amazing and wins hearts every time"</h5>
		</figcaption>
		</div>
	<figure class="heroFullBleed" style="background-image: url('assets/img/recipe-hero-680.png');">
			<button href="#" class="heroFullBleed__play">Watch Recipe Video</button>
	</figure>
</section>
