<li class="product__rec--item">
    <%= image_tag lorem.image('400x400') %>
    <div class="product__rec--item--info">
        <h3 class="productSidebar__headline"><%= lorem.words 5 %></h3>
    </div>
</li>