<figure class="simpeleImageCta" style="background-image: url('http://placehold.it/1480x830');">
    <div class="simpeleImageCta__content">
        <a href="#" class="btn-boxed-arrow-<%= color %>"><%= lorem.words 3 %></a>
    </div>
</figure>