<div class="wideLeftImgCta">
    <div class="wideLeftImgCta__img" style="background-image: url(<%= lorem.image('650x350') %>);"></div>
    
    <%= partial "modules/square_cta", :locals => { :color => 'blue' } %>
</div>