<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>

    <link rel="shortcut icon" type="image/ico" href="/favicon.ico">

    <!-- build:css assets/css/main.min.css -->
    <%= stylesheet_link_tag "main" %>
    <!-- endbuild -->

    <!-- build:css assets/css/ie.min.css -->
    <!--[if gt IE 8]>
    <link rel="stylesheet" href="assets/css/ie.css">
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js assets/vendor/modernizr/modernizr-custom.min.js -->
    <%= javascript_tag vendor_asset('modernizr/modernizr.js') %>
    <!-- endbuild -->

    <!-- build:js assets/vendor/respond/dest/respond.min.js -->
    <%= javascript_tag vendor_asset('respond/src/respond.js') %>
    <!-- endbuild -->

</head>
