<nav class="navs grid-construct">
    <section class="navs__tablet__desktop">
        <div class="navs__logo">
            <img src="assets/img/ghirardelli_logo.png" class="navs__logo__img" />
        </div>
        <div class="navs__utilityNav">
            <ul class="navs__utilityNav__list">
                <li class="navs__utilityNav__list__item">
                    <a href="#" class="navs__utilityNav__list__item__link icon__map" title="Location"></a>
                </li>
                <li class="navs__utilityNav__list__item">
                    <a href="#" class="navs__utilityNav__list__item__link icon__profile" title="Account"></a>
                </li>
                <li class="navs__utilityNav__list__item">
                    <a href="#" class="navs__utilityNav__list__item__link icon__search" title="Search"></a>
                </li>
                <li class="navs__utilityNav__list__item">
                    <a href="#" class="navs__utilityNav__list__item__link icon__shopping-bag" title="Shopping bag"></a>
                </li>
            </ul>
        </div>
        <ul class="navs__brandNav__list">
            <li class="navs__brandNav__list__item">
                <a href="#" class="navs__brandNav__list__item__link--large">Shop</a>
            </li>
            <li class="navs__brandNav__list__item">
                <a href="#" class="navs__brandNav__list__item__link--large">Make</a>
            </li>
            <li class="navs__brandNav__list__item">
                <a href="#" class="navs__brandNav__list__item__link--small">Our Story</a>
            </li>
            <li class="navs__brandNav__list__item">
                <a href="#" class="navs__brandNav__list__item__link--small">Events</a>
            </li>
            <li class="navs__brandNav__list__item">
                <a href="#" class="navs__brandNav__list__item__link--small">Promotions</a>
            </li>
        </ul>
    </section>
    <section class="navs__mobile">
        <div class="navs__mobile__navigation">
            <button class="navs__mobile--btn icon__hamburger"></button>
            <button class="navs__mobile--btn icon__search-large"></button>
        </div>
        <a class="navs__mobile__logo--link">
            <img src="assets/img/mobile_logo.png" class="navs__mobile__logo__img" />
        </a>
        <div class="navs__mobile__cart">
            <button class="navs__mobile--btn icon__shopping-bag"></button>
            <span class="navs__mobile__cart--contents">(3)</span>
        </div>
    </section>
</nav>