---
title: Styleguide
layout: layout
---

<h1>Styleguide</h1>

<section>
    <h2>Headings</h2>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
</section>

<section>
    <h2>Text</h2>
    <h3>Paragraph</h3>
    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Nullam id dolor id nibh ultricies vehicula ut id elit. Nulla vitae elit libero, a pharetra augue. Maecenas faucibus mollis interdum.</p>
    <h3>Bold</h3>
    <p><strong>Tellus Malesuada Aenean Consectetur Dolor</strong></p>
    <h3>Italic</h3>
    <p><i>Tellus Malesuada Aenean Consectetur Dolor</i></p>
    <h3>Pre</h3>
    <pre>Fusce dapibus, tellus ac cursus commodo</pre>
    <h3>Blockquote</h3>
    <blockquote>Curabitur blandit tempus porttitor.</blockquote>
    <h3>List</h3>
    <ul>
        <li>Dapibus Quam</li>
        <li>Porta Consectetur Magna</li>
        <li>Etiam Lorem</li>
    </ul>
    <h3>Link</h3>
    <a href="#">Inline Link</a>
    <h3>Buttons</h3>
    <button class="btn-default">Button</button>
    <br />
    <button class="btn-link">Button link</button>
</section>

<section>
    <h2>Tables</h2>

    <table>
        <tr>
            <th>First name</th>
            <th>Last name</th>
        </tr>
        <tr>
            <td>John</td>
            <td>Doe</td>
        </tr>
        <tr>
            <td>Jane</td>
            <td>Doe</td>
        </tr>
    </table>

    <p>Table with colgroup</p>
    <table>
        <colgroup span="4" class="columns"></colgroup>
        <tr>
            <th>Countries</th>
            <th>Capitals</th>
            <th>Population</th>
            <th>Language</th>
        </tr>
        <tr>
            <td>USA</td>
            <td>Washington D.C.</td>
            <td>309 million</td>
            <td>English</td>
        </tr>
        <tr>
            <td>Sweden</td>
            <td>Stockholm</td>
            <td>9 million</td>
            <td>Swedish</td>
        </tr>
    </table>
</section>

<section>
    <h2>Forms</h2>
    <form action="" method="post">
        <fieldset>
            <legend>Text Input</legend>
            <label for="text1">Text</label>
            <input type="text" name="text" id="text1" placeholder="Vestibulum Dapibus Magna Fermentum Mollis">
        </fieldset>
        <fieldset>
            <legend>Password Input</legend>
            <label for="password">Password</label>
            <input type="password" name="password" id="password">
        </fieldset>
        <fieldset>
            <legend>Number Input</legend>
            <label for="number1">Text</label>
            <input type="number" name="number" id="number1" placeholder="0">
        </fieldset>
        <fieldset>
            <legend>Select Menu</legend>
            <label for="select1">Select</label>
            <select id="select1" name="select">
                <option selected>Option 1</option>
                <option>Option 2</option>
                <option>Option 3</option>
            </select>
        </fieldset>
        <fieldset>
            <legend>Radio Buttons</legend>
            <label for="radio1">Radio Button 1 </label>
            <input type="radio" name="radio" id="radio1" checked>
            <label for="radio2">Radio Button 2</label>
            <input type="radio" name="radio" id="radio2">
        </fieldset>
        <fieldset>
            <legend>Checkboxes</legend>
            <label for="checkbox1">Checkbox 1 </label>
            <input type="checkbox" name="checkbox" id="checkbox1" checked>
            <label for="checkbox2">Checkbox 1 </label>
            <input type="checkbox" name="checkbox" id="checkbox2">
        </fieldset>
    </form>
</section>