.fullbleedCta{
    position: relative;
    // @include clearfix();
    @include container;
}
.fullbleedCta__content{
    position: relative;
    z-index: 10;
    @extend %c-sm-4;
    @extend %c-md-8;
    @extend %c-lg-9;
    @extend %background-color-blue;
    height: 285px;
    @include bp($breakpoint-md){
        height: 130px;
    }
    @include bp($breakpoint-lg){
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
    }
    @include bp($breakpoint-xl){
        height: auto;
        position: absolute;
        top: 0px;
        left: 0px;
        @include span-columns(3, 12);
    }
}
.fullbleedCta__image{
    @extend %c-sm-4;
    @extend %c-md-8;
    @extend %c-lg-12;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom: 1px solid #fff;
    height: 465px;
    position: relative;
    z-index: 9;
    @include bp($breakpoint-md){
        height: 640px;
    }
    @include bp($breakpoint-lg){
        height: 640px;
    }
    @include bp($breakpoint-xl){
        height: 740px;
    }
}
.fullbleedCta__content__image--wrapper{
    display: none;
    text-align: center;
    @include bp($breakpoint-md){
        @include span-columns(1, 8);
        display: block;
    }
    @include bp($breakpoint-lg){
        @include span-columns(1, 9);
        display: block;
    }
    @include bp($breakpoint-xl){
        @include span-columns(3 omega, 3);
        display: block;
        margin-bottom: 30px;
        text-align: left;
    }
}
.fullbleedCta__content__copy{
    @extend %c-sm-4;
    @extend %grid-padding-standard;
    @include bp($breakpoint-md){
        @include span-columns(5, 8);
    }
    @include bp($breakpoint-lg){
        @include span-columns(4, 9);
    }
    @include bp($breakpoint-xl){
        @include span-columns(6, 6);
    }
}
.fullbleedCta__content__headline{
    margin-bottom: 20px
}
.fullbleedCta__content__subhead{
    margin-bottom: 10px;
    @include bp($breakpoint-xl){
        margin-bottom: 50px
    }
}
.fullbleedCta__content__link--wrapper{
    text-align: right;
    position: relative;
    bottom: auto;
    right: auto;
    @extend %c-sm-4;
    @include bp($breakpoint-md){
        position: absolute;
        bottom: 0;
        right: 0;
        @include span-columns(2 omega, 8);
    }
    @include bp($breakpoint-lg){
        @include span-columns(2 omega, 9);
        position: absolute;
        bottom: 0;
        right: 0;
    }
    @include bp($breakpoint-xl){
        @include span-columns(6 omega, 6);
        position: relative;
        bottom: auto;
        right: auto;
    }
}
.fullbleedCta__content__link{
    @extend %btn-boxed-arrow-transparent;
}