/**
 *
 * Main design styles
 *
 */

/*------------------------------------*\
    $Container
\*------------------------------------*/
body{
    background-color: $gray-lighter;
    color: $body-color;
    font-family: $san-serif-family;
    font-size: $base-font-size;
}
