.socialCtas{
    @include clearfix();
}
.socialCta{
    @extend %c-sm-2;
    @extend %c-md-4;
    @extend %c-lg-3;
    &:nth-child(2n) { @include omega; }
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border-bottom: 1px solid #fff;
    display: block;
    height: $square-cta-height-sm;
    line-height: 1em;
    position: relative;
    @include bp($breakpoint-md){
        height: $square-cta-height-md;
        padding-bottom: 0;
    }
    @include bp($breakpoint-lg){
        height: $square-cta-height-lg;
        &:nth-child(3n) { @include omega; }
    }
}
.socialCta__icon{
    display: block;
    position: absolute;
    bottom: $padding-sm-vrt;
    right: $padding-sm-hrz;
    @include bp($breakpoint-lg){
        bottom: $padding-lg-vrt;
        right: $padding-lg-hrz;
    }
}